@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Lalezar&display=swap');

:root {
  --customBlue: #223c4b;   
  --customGreen: #14d8b1;  
  --customWhite: #e2e0da;      
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Audiowide';
}

.header {
  background-color: var(--customBlue);
  height: 10vh;
  display: flex;
  flex-direction: row; 
  align-items: center;
  justify-content: space-between;
  align-items: center;
  font-size: 22px;
  text-align: center; 
  padding: 10px;
}


.header .signUp {
  padding: 6px; 
  line-height: 15px;
  border: 2px solid var(--customGreen);
  border-radius: 8px;
}

.header .signUp a {
  text-decoration: none;
  color: var(--customGreen);
  font-size: 2vh;
}

/* section 1 */
.section-1{
  height: 90vh;
  background-color: var(--customWhite);
  padding: 0 5%;
  text-align: center;
  color: var(--customBlue);
}


