@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Lalezar&display=swap');

:root {
  --customBlue: #223c4b;   
  --customGreen: #14d8b1;  
  --customWhite: #e2e0da;      
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Audiowide';
}

a{
  text-decoration: none;
  color: var(--customGreen);
}

.header {
  background-color: var(--customBlue);
  height: 10vh;
  display: flex;
  flex-direction: row; 
  align-items: center;
  justify-content: space-around;
  align-items: center;
  font-size: 22px;
  text-align: center; 
  padding: 10px;
}

@media (max-width: 768px){
  .header{
    height: auto;
  }
}

.header .signUp {
  padding: 6px; 
  line-height: 15px;
  border: 2px solid var(--customGreen);
  border-radius: 8px;
}

.header .signUp a {
  text-decoration: none;
  color: var(--customGreen);
  font-size: 2vh;
}

.nav-items a{
  text-decoration: none;
  display: inline;
}

.nav-items li{
  list-style: none;
  margin: 6px 12px;
  margin-left: 0;
  font-size: 15px;
}

.nav-items a:hover{
  color: var(--customWhite);
}

#hamburger{
  border: none;
  background-color: transparent;
  color: var(--customGreen);
  outline: none;
}

/* section 1 */
.section-1{
  height: 90vh;
  background-color: var(--customWhite);
  padding: 0 5%;
  text-align: center;
  color: var(--customBlue);
}

.btn-primary {
  transition: background-color 0.3s, color 0.3s;
}

.btn-primary:hover {
  background-color: #ffffff; /* Change to your desired hover background color */
  color: #ffffff; /* Change to your desired hover text color */
  cursor: pointer;
}

@media (max-width: 768px){
  .nav-menu2{
    display: none;
  }
}


/* Page 2 */

.container{
  height: auto;
  padding: 0 10%;
  background-color:var(--customWhite);
  border-radius: 20px;
  padding: 30px;

  /* background-color: red; */
}

.cards{
  height: auto;
  display: flex;
  justify-content: space-evenly;
  margin: 20px;
}

.card{
  margin-bottom: 20px;
  background-color: white;
  height: 250px;
  width:250px;
  border:5px solid var(--customGreen);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--customGreen);
  margin: 10px;
  padding: 10px;
}
.card:hover{
  background-color: var(--customGreen);
  color : var(--customWhite);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.usecase-heading{
  font-size: 30px;
  margin-left: 10%;
  margin-top: 10px;
  padding: 5px;
  color: var(--customBlue);
}

.case{
  font-size: 10vh;
}

.card h3{
  margin-top: 6px;
}

/* section-2 */

.section-2 {
  min-height: 50vh;
  background-color: var(--customBlue);
  padding: 2% 5%;
  text-align: center;
  color: var(--customGreen);
}

.features {
  padding: 1rem;
}

.card-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 2rem;
  background-color: var(--customBlue);
  padding: 2% 5%;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
}

.feature-card {
  flex: 1; 
  max-width: calc(25% - 2rem);
  height: 35vh;
  margin: 1rem;
  padding: 2rem;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media (max-width: 1200px) {
  .feature-card {
    flex: none;
    max-width: calc(33.33% - 2rem);
  }
}

@media (max-width: 768px) {
  .feature-card {
    flex: none;
    max-width: calc(50% - 2rem); 
  }
}

@media (max-width: 576px) {
  .feature-card {
    flex: none;
    max-width: calc(100% - 2rem); 
  }
}

.feature-card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  background-color: var(--customGreen);
  color: white;
}
.icon{
  font-size: 10vh;
}

/* section-3 */
.sec3{
  background-color: var(--customWhite);
  padding: 2% 10%;    
  color: var(--customBlue);
}
.sec3 h1{
  margin-top: 20px;
  text-align: center;
}
.section-3 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.illustration2{
  height: 80vh;
}


.steps li{
  font-size:35px;
  color: var(--customBlue);
  margin: 30px 30px;
}
.section-3 a:hover{
  text-decoration: none;
}


@media (max-width: 768px) {
  .section-3{
    flex-direction: column;
  }
  .illustration2{
    height: 50vh;
  }
  .sec3 h1{
    font-size: 45px !important;
  }
  .steps li{
    margin: 15px 15px;
    font-size: 20px;
  }
}
