@import url('https://fonts.googleapis.com/css2?family=Lalezar&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lalezar';
}
.header {
  background-color: #f9f7ec;
  height: 12vh;
  display: flex;
  flex-direction: row; 
  align-items: center;
  justify-content: space-between;
  font-size: 22px;
  text-align: center; 
}

.header .logo,
.header .name,
.header .signUp {
  margin: 2rem; 
}

.header .name {
  font-size: x-large; 
}

.header .signUp {
  padding: 8px; 
  border: 2px solid green;
  border-radius: 8px;
}

.header .logo {
  order: 1; /* Change order to place logo at the bottom on small screens */
}

.header .name {
  order: 2; /* Change order to place name above logo on small screens */
}

.header .signUp {
  order: 3; /* Keep signUp button at the bottom on small screens */
  border: 2px solid green;
}

.header .signUp a {
  text-decoration: none;
  color: #3f3b4a;
  text-decoration-style: none;
  
}


/* Media query for small screens */
@media only screen and (max-width: 600px) {
  .header {
    flex-direction: row;

  }

  .header .logo,
  .header .name,
  .header .signUp {
    margin: 0.5rem;
  }

  .header .name {
    font-size: x-large;
  }

  .header .signUp {
    padding: 4px;
  }
}
